#rodzic {
    display: flex;
}
#dzieci {
    width: 70%;
}
aside {
    width: 30%;
    background-color: aqua;
}
header {
    height: 100px;
    background-color: chartreuse;
}
main {
    height: 500px;
    background-color: crimson;
}
* {
    text-align: center;
}
